<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elon Musk precisa de 300
        pessoas 'prontas para morrer'
        por dia em Marte</title>
    <link rel="stylesheet" href="/static/css/teste.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

</head>
<body>

<div class="header">
    <div class="conteudo_largura">
        <div class="logo">
            <a href="#">
                <img src="/static/img/hdr-logo.png" class="img_logo"/>
            </a>
        </div>
        <div class="menu">
            <ul class="textobranco fonte_menu">
                <li><a href="#">noticias</a></li>
                <li><a href="#">vídeos</a></li>
                <li><a href="#">em alta</a></li>
                <li><a href="#" class="text_red_color">coronavirus</a></li>
                <li><a href="#">editoriais</a></li>
                <li><a href="#">suporte</a></li>
                <li><a href="#">news</a></li>
                <li><a href="#">ofertas</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="body_site">
    <div class="banner_principal">
        <h1 class="titulo_h1">
            Ciência e Espaço
        </h1>
    </div>

    <div class="conteudo_blog">
        <a class="link_navegacao" href="#">
            HOME / CIÊNCIA E ESPAÇO
        </a>
        <br>
        <h1 class="titulo_do_site">
            Elon Musk precisa de 300 pessoas 'prontas para morrer' por dia em Marte
        </h1>
        <p class="subtitulo">
            Serão três foguetes lançados para Marte por dia, cada um com 100 passageiros, para construir a colônia da SpaceX no planeta vermelho
        </p>
    </div>

</div>
<div class="footer"></div>

</body>
</html>